<!-- TODO LIST -->
    <div id="todo-list" class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2 class="text-center"> Completed Tasks </h2>
            <table class="table table-hover">
                <tr>
                    <th id="completed"></th>
                    <th>Task</th>
                    <th>Time Created</th>
                    <th>Time Due</th>
                    <th>Time Completed</th>
                    <th id="options"></th>
                </tr>
                
                <tr ng-repeat="todo in todos | filter:true | orderBy:'time_completed'">
                    <label> 
                        <td> <input type="checkbox" ng-checked="true" ng-click="reviveTodo(todo._id)"> </td> 
                        <td> {{ todo.name }}</td>
                        <td> {{ todo.time_created | date:'hh:mm a'}} </td>
                        <td> {{ todo.time_due | date:'hh:mm a'}}  </td>
                        <td> {{ todo.time_completed | date:'hh:mm a'}} </td>
                        <td id="options"> <a href="" ng-click="deleteTodo(todo._id)"><ng-md-icon icon="highlight_remove" style="fill: grey"></ng-md-icon></a> </td>
                    </label>
                </tr>
            </table>
        </div>
    </div>

<!-- Delete all Todos -->

<div id="todo-form" class="row">
            <div class=" text-center">
                <form>
                    
<button type="submit" class="col-sm-4 col-sm-offset-4 stuff btn btn-primary btn-lg" ng-click="deletePastTodos()">Delete All Past Todos</button>
                </form>
            </div>
        </div>